@import '~bootstrap/scss/bootstrap';

$body-bg-color: $gray-200;
$font-color: $light;

body {
  min-height: 100vh;
}

.dialogue-area {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 90%;
}

.dialogue-box {
  align-items: center;
  background-color: $secondary;
  border-radius: 5px;
  color: $font-color;
  display: flex;
  justify-content: center;
  min-height: 10vh;
  width: 60vh;
}

.game-area {
  justify-content: center;
  margin: auto;
  max-height: 60vh;
  max-width: 60vh;
  width: 90%;
}

.game-board {
  display: flex;
  flex-wrap: wrap;

  > .game-space {
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    flex-basis: calc(100% / 3 - 6px);
    font-size: 12vh;
    justify-content: center;
    line-height: 1;
    margin: 3px;
    min-height: calc(100% / 3 - 6px);
  }
}

.hidden {
  display: none;
}
